/**/
* {
    font-family: monospace;
    box-sizing: border-box;
}

body {
    background-color: rgb(182, 182, 182);
    color: black;
    text-align: center;
}

hr {
    opacity: 0;
}

#page-title {
    padding: 20px;
}

/* FORM */
.form_for_text {
    background-color: rgb(166, 166, 166);
    display: inline-block;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 100px;
    text-align: center;
}

.textarea {
    background-color: rgb(182,182,182);
    border-radius: 5px;
    font-family: monospace;
}

.btn_case {
    background-color: rgb(182,182,182);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-family: monospace;
}

.btn_case:hover {
    background-color: rgb(212, 212, 212);
    transition-duration: 0.5s;
}

#form_hr {
    margin: 10px;
    opacity: 0.25;
}

/* FOOTER */
footer {
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    font: 14px;
    padding: 10px;
    margin-top: auto;
}

#gh_link {
    color: black;
}

#gh_link:hover {
    color: white;
    transition-duration: 0.25s;
}
