* {
    font-family: monospace;
}

body {
    background-color: rgb(182, 182, 182);
    color: black;
    text-align: center;
}

.form_for_text {
    background-color: rgb(152, 152, 152);
    display: inline-block;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: black;
    font-family: monospace;
    color: rgb(182,182,182);
    text-align: center;
    font: 14px;
    padding: 10px;
}

.btn_upper {
    background-color: rgb(182,182,182);
    color: black;
    font-family: monospace;
}

.btn_upper:hover {
    background-color: rgb(212, 212, 212);
    color: black;
    font-family: monospace;
}

.btn_lower {
    background-color: rgb(182,182,182);
    color: black;
    font-family: monospace;
}

.btn_lower:hover {
    background-color: rgb(212, 212, 212);
    color: black;
    font-family: monospace;
}


.btn_title {
    background-color: rgb(182,182,182);
    color: black;
    font-family: monospace;
}

.btn_title:hover {
    background-color: rgb(212, 212, 212);
    color: black;
    font-family: monospace;
}


.btn_sentence {
    background-color: rgb(182,182,182);
    color: black;
    font-family: monospace;
}

.btn_sentence:hover {
    background-color: rgb(212, 212, 212);
    color: black;
    font-family: monospace;
}


.textarea {
    background-color: rgb(182,182,182);
    font-family: monospace;
}