<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>TextFlipper | Text Converter</title>
        <meta name="description" content="Convert  text between uppercase, lowercase, title case, and more with TextFlipper.">
        <meta name="author" content="Romaine Noir">

        <!--OPEN GRAPH-->
        <meta property="og:type" content="website">
        <meta property="og:title" content="TextFlipper | Text Converter">
        <meta property="og:description" content="Fast online text case converter for clean formatting.">
        <meta property="og:site_name" content="TextFlipper">

        
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="content">
        <h1 id="page-title">TextFlipper</h1>
       {% block content %}{% endblock %}
    </body>
    <hr>
    <footer class="footer">
        <p id="credits">Created <a href="https://github.com/romainenoir" id="gh_link">Romaine Noir</a></p>
    </footer>
</html>