<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        
        <title>TextFlipper | Text Converter</title>
        <meta name="description" content="Convert text between uppercase, lowercase, title case, and more with TextFlipper - a fast online text case converter for clean formatting.">
        <meta name="keywords" content="text converter, case converter, uppercase, lowercase, title case, sentence case, text formatting, online text tool">
        <meta name="author" content="Romaine Noir">
        
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="content">
        <h1 id="page-title">TextFlipper</h1>
       {% block content %}{% endblock %}
    </body>
    <hr>
    <footer class="footer">
        <p id="credits">Created <a href="https://github.com/romainenoir" id="gh_link">Romaine Noir</a></p>
    </footer>
</html>